In [1]:
# libraries

from datetime import datetime
import os
import re
import glob
import requests 
import pandas as pd
from bs4 import BeautifulSoup

# Web Scrapping

In [2]:
# web scrapping

link = 'https://www.mohfw.gov.in/'
req = requests.get(link)
soup = BeautifulSoup(req.content, "html.parser")

thead = soup.find_all('thead')[-1]
# print(thead)
head = thead.find_all('tr')

tbody = soup.find_all('tbody')[-1]
body = tbody.find_all('tr')

# print(rows)

head_rows = []
body_rows = []

for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
    
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
    
# print(head_rows)
    
df_bs = pd.DataFrame(body_rows[:len(body_rows)-3], columns=head_rows[0])
    
df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 77 foreign Nationals),Cured/Discharged/Migrated,Death
0,Andaman and Nicobar Islands,22,11,0
1,Andhra Pradesh,895,141,27
2,Arunachal Pradesh,1,1,0
3,Assam,36,19,1
4,Bihar,153,46,2
5,Chandigarh,27,14,0
6,Chhattisgarh,36,28,0
7,Delhi,2376,808,50
8,Goa,7,7,0
9,Gujarat,2624,258,112
10,Haryana,272,156,3
11,Himachal Pradesh,40,18,1
12,Jammu and Kashmir,427,92,5
13,Jharkhand,53,8,3
14,Karnataka,445,145,17
15,Kerala,447,324,3
16,Ladakh,18,14,0
17,Madhya Pradesh,1699,203,83
18,Maharashtra,6430,840,283
19,Manipur,2,2,0
20,Meghalaya,12,0,1
21,Mizoram,1,0,0
22,Odisha,90,33,1
23,Puducherry,7,3,0
24,Punjab,277,65,16
25,Rajasthan,1964,230,27
26,Tamil Nadu,1683,752,20
27,Telengana,960,197,24
28,Tripura,2,1,0
29,Uttarakhand,47,24,0
30,Uttar Pradesh,1510,206,24
31,West Bengal,514,103,15

# Data Cleaning

In [3]:
# date-time information
# ---------------------

now  = datetime.now()
df_bs['Date'] = now.strftime("%m/%d/%Y") 
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')
df_bs['Name of State / UT'] = df_bs['Name of State / UT'].str.replace('#', '')
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 77 foreign Nationals),Cured/Discharged/Migrated,Death,Date
0,Andaman and Nicobar Islands,22,11,0,2020-04-24
1,Andhra Pradesh,895,141,27,2020-04-24
2,Arunachal Pradesh,1,1,0,2020-04-24
3,Assam,36,19,1,2020-04-24
4,Bihar,153,46,2,2020-04-24
5,Chandigarh,27,14,0,2020-04-24
6,Chhattisgarh,36,28,0,2020-04-24
7,Delhi,2376,808,50,2020-04-24
8,Goa,7,7,0,2020-04-24
9,Gujarat,2624,258,112,2020-04-24
10,Haryana,272,156,3,2020-04-24
11,Himachal Pradesh,40,18,1,2020-04-24
12,Jammu and Kashmir,427,92,5,2020-04-24
13,Jharkhand,53,8,3,2020-04-24
14,Karnataka,445,145,17,2020-04-24
15,Kerala,447,324,3,2020-04-24
16,Ladakh,18,14,0,2020-04-24
17,Madhya Pradesh,1699,203,83,2020-04-24
18,Maharashtra,6430,840,283,2020-04-24
19,Manipur,2,2,0,2020-04-24
20,Meghalaya,12,0,1,2020-04-24
21,Mizoram,1,0,0,2020-04-24
22,Odisha,90,33,1,2020-04-24
23,Puducherry,7,3,0,2020-04-24
24,Punjab,277,65,16,2020-04-24
25,Rajasthan,1964,230,27,2020-04-24
26,Tamil Nadu,1683,752,20,2020-04-24
27,Telengana,960,197,24,2020-04-24
28,Tripura,2,1,0,2020-04-24
29,Uttarakhand,47,24,0,2020-04-24
30,Uttar Pradesh,1510,206,24,2020-04-24
31,West Bengal,514,103,15,2020-04-24

In [4]:
df_bs['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry', 'Punjab',
       'Rajasthan', 'Tamil Nadu', 'Telengana', 'Tripura', 'Uttarakhand',
       'Uttar Pradesh', 'West Bengal'], dtype=object)

In [5]:
# latitude and longitude information
# ----------------------------------

lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670}

long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662}

df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 77 foreign Nationals),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,22,11,0,2020-04-24,11.7401,92.6586
1,Andhra Pradesh,895,141,27,2020-04-24,15.9129,79.7400
2,Arunachal Pradesh,1,1,0,2020-04-24,28.2180,94.7278
3,Assam,36,19,1,2020-04-24,26.2006,92.9376
4,Bihar,153,46,2,2020-04-24,25.0961,85.3131
5,Chandigarh,27,14,0,2020-04-24,30.7333,76.7794
6,Chhattisgarh,36,28,0,2020-04-24,21.2787,81.8661
7,Delhi,2376,808,50,2020-04-24,28.7041,77.1025
8,Goa,7,7,0,2020-04-24,15.2993,74.1240
9,Gujarat,2624,258,112,2020-04-24,22.2587,71.1924
10,Haryana,272,156,3,2020-04-24,29.0588,76.0856
11,Himachal Pradesh,40,18,1,2020-04-24,31.1048,77.1734
12,Jammu and Kashmir,427,92,5,2020-04-24,33.7782,76.5762
13,Jharkhand,53,8,3,2020-04-24,23.6102,85.2799
14,Karnataka,445,145,17,2020-04-24,15.3173,75.7139
15,Kerala,447,324,3,2020-04-24,10.8505,76.2711
16,Ladakh,18,14,0,2020-04-24,34.2996,78.2932
17,Madhya Pradesh,1699,203,83,2020-04-24,22.9734,78.6569
18,Maharashtra,6430,840,283,2020-04-24,19.7515,75.7139
19,Manipur,2,2,0,2020-04-24,24.6637,93.9063
20,Meghalaya,12,0,1,2020-04-24,25.4670,91.3662
21,Mizoram,1,0,0,2020-04-24,23.1645,92.9376
22,Odisha,90,33,1,2020-04-24,20.9517,85.0985
23,Puducherry,7,3,0,2020-04-24,11.9416,79.8083
24,Punjab,277,65,16,2020-04-24,31.1471,75.3412
25,Rajasthan,1964,230,27,2020-04-24,27.0238,74.2179
26,Tamil Nadu,1683,752,20,2020-04-24,11.1271,78.6569
27,Telengana,960,197,24,2020-04-24,18.1124,79.0193
28,Tripura,2,1,0,2020-04-24,23.9408,91.9882
29,Uttarakhand,47,24,0,2020-04-24,30.0668,79.0193
30,Uttar Pradesh,1510,206,24,2020-04-24,26.8467,80.9462
31,West Bengal,514,103,15,2020-04-24,22.9868,87.8550

In [6]:
df_bs.isna().sum()

Name of State / UT                                         0
Total Confirmed cases (Including 77 foreign Nationals)     0
Cured/Discharged/Migrated                                  0
Death                                                      0
Date                                                       0
Latitude                                                   0
Longitude                                                  0
dtype: int64

# Saving data

In [7]:
# saving data
# -----------

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = 'C:\\Users\\imdevskp\\Documents\\github\\covid_india\\.day_by_day_data\\'
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 77 foreign Nationals),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,22,11,0,2020-04-24,11.7401,92.6586
1,Andhra Pradesh,895,141,27,2020-04-24,15.9129,79.7400
2,Arunachal Pradesh,1,1,0,2020-04-24,28.2180,94.7278
3,Assam,36,19,1,2020-04-24,26.2006,92.9376
4,Bihar,153,46,2,2020-04-24,25.0961,85.3131
5,Chandigarh,27,14,0,2020-04-24,30.7333,76.7794
6,Chhattisgarh,36,28,0,2020-04-24,21.2787,81.8661
7,Delhi,2376,808,50,2020-04-24,28.7041,77.1025
8,Goa,7,7,0,2020-04-24,15.2993,74.1240
9,Gujarat,2624,258,112,2020-04-24,22.2587,71.1924
10,Haryana,272,156,3,2020-04-24,29.0588,76.0856
11,Himachal Pradesh,40,18,1,2020-04-24,31.1048,77.1734
12,Jammu and Kashmir,427,92,5,2020-04-24,33.7782,76.5762
13,Jharkhand,53,8,3,2020-04-24,23.6102,85.2799
14,Karnataka,445,145,17,2020-04-24,15.3173,75.7139
15,Kerala,447,324,3,2020-04-24,10.8505,76.2711
16,Ladakh,18,14,0,2020-04-24,34.2996,78.2932
17,Madhya Pradesh,1699,203,83,2020-04-24,22.9734,78.6569
18,Maharashtra,6430,840,283,2020-04-24,19.7515,75.7139
19,Manipur,2,2,0,2020-04-24,24.6637,93.9063
20,Meghalaya,12,0,1,2020-04-24,25.4670,91.3662
21,Mizoram,1,0,0,2020-04-24,23.1645,92.9376
22,Odisha,90,33,1,2020-04-24,20.9517,85.0985
23,Puducherry,7,3,0,2020-04-24,11.9416,79.8083
24,Punjab,277,65,16,2020-04-24,31.1471,75.3412
25,Rajasthan,1964,230,27,2020-04-24,27.0238,74.2179
26,Tamil Nadu,1683,752,20,2020-04-24,11.1271,78.6569
27,Telengana,960,197,24,2020-04-24,18.1124,79.0193
28,Tripura,2,1,0,2020-04-24,23.9408,91.9882
29,Uttarakhand,47,24,0,2020-04-24,30.0668,79.0193
30,Uttar Pradesh,1510,206,24,2020-04-24,26.8467,80.9462
31,West Bengal,514,103,15,2020-04-24,22.9868,87.8550

In [8]:
df_bs.columns

Index(['Name of State / UT',
       'Total Confirmed cases (Including 77 foreign Nationals) ',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

# Combining data

In [9]:
! ls C:\Users\imdevskp\Documents\github\covid_india\.day_by_day_data

2020_03_21.csv
2020_03_22.csv
2020_03_23.csv
2020_03_24.csv
2020_03_25.csv
2020_03_26.csv
2020_03_27.csv
2020_03_28.csv
2020_03_29.csv
2020_03_30.csv
2020_03_31.csv
2020_04_01.csv
2020_04_02.csv
2020_04_03.csv
2020_04_04.csv
2020_04_05.csv
2020_04_06.csv
2020_04_07.csv
2020_04_08.csv
2020_04_09.csv
2020_04_10.csv
2020_04_11.csv
2020_04_12.csv
2020_04_13.csv
2020_04_14.csv
2020_04_15.csv
2020_04_16.csv
2020_04_17.csv
2020_04_18.csv
2020_04_19.csv
2020_04_20.csv
2020_04_21.csv
2020_04_22.csv
2020_04_23.csv
2020_04_24.csv

In [10]:
# pd.read_csv?

In [11]:
# complete data

loc = "C:\\Users\\imdevskp\\Documents\\github\\covid_india\\.day_by_day_data\\"

files = glob.glob(loc+'2020*.csv')
   
dfs = []
for i in files:
    df_temp = pd.read_csv(i)
    df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
    df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated', 
                                      'Total Confirmed cases *': 'Total Confirmed cases', 
                                      'Total Confirmed cases ': 'Total Confirmed cases'})
    df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .. foreign Nationals\) ',
                                                      'Total Confirmed cases',x))
    dfs.append(df_temp)
    
# print(dfs)

complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)
complete_data['Date'] = pd.to_datetime(complete_data['Date'])
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
              'Cured/Discharged/Migrated', 'Death']

# complete_data['Death'] = complete_data['Death'].str.extract('(\d+)')
complete_data[cols] = complete_data[cols].fillna(0).astype('int')

# complete_data.tail(50)

In [12]:
complete_data.columns

Index(['Date', 'Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )',
       'Cured/Discharged/Migrated', 'Latitude', 'Longitude', 'Death',
       'Total Confirmed cases'],
      dtype='object')

In [13]:
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [14]:
complete_data['Name of State / UT'].unique()

array(['Kerala', 'Delhi', 'Telengana', 'Rajasthan', 'Haryana',
       'Uttar Pradesh', 'Tamil Nadu', 'Union Territory of Ladakh',
       'Karnataka', 'Maharashtra', 'Punjab',
       'Union Territory of Jammu and Kashmir', 'Andhra Pradesh',
       'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal',
       'Chhattisgarh', 'Union Territory of Chandigarh', 'Gujarat',
       'Chandigarh', 'Himachal Pradesh', 'Jammu and Kashmir', 'Ladakh',
       'Madhya Pradesh', 'Bihar', 'Manipur', 'Mizoram',
       'Andaman and Nicobar Islands', 'Goa', 'Assam', 'Jharkhand',
       'Arunachal Pradesh', 'Tripura', 'Meghalaya', 'Nagaland'],
      dtype=object)

In [15]:
complete_data.tail()

,Date,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Latitude,Longitude,Death,Total Confirmed cases
1274,2020-04-24,Telengana,0,0,197,18.1124,79.0193,24,960
1275,2020-04-24,Tripura,0,0,1,23.9408,91.9882,0,2
1276,2020-04-24,Uttar Pradesh,0,0,206,26.8467,80.9462,24,1510
1277,2020-04-24,Uttarakhand,0,0,24,30.0668,79.0193,0,47
1278,2020-04-24,West Bengal,0,0,103,22.9868,87.8550,15,514

In [16]:
# sorted(complete_data['Name of State / UT'].unique())

In [17]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        1279 non-null   datetime64[ns]
 1   Name of State / UT                          1279 non-null   object
 2   Total Confirmed cases (Indian National)     1279 non-null   int32
 3   Total Confirmed cases ( Foreign National )  1279 non-null   int32
 4   Cured/Discharged/Migrated                   1279 non-null   int32
 5   Latitude                                    1279 non-null   float64
 6   Longitude                                   1279 non-null   float64
 7   Death                                       1279 non-null   int32
 8   Total Confirmed cases                       1279 non-null   int64
dtypes: datetime64[ns](1), float64(2), int32(4), int64(1), object(1)
memory usage: 70.1+ KB

In [18]:
complete_data.to_csv('complete.csv', index=False)